<% include head.ejs %>
<title><%= members.name %> - Match</title>
<h1><%= members.name %></h1>
<h2>If you didn't have to sleep, what would you do with the extra time?</h2>
<p><%= members.question1 %></p>
<h2>What hobby would you get into if time and money weren't an issue?</h2>
<p><%= members.question2 %></p>
<h2>What’s your favorite genre of book or movie?</h2>
<p><%= members.question3 %></p>
<h2>What would be the most amazingg adventure to go on?</h2>
<p><%= members.question4 %></p>
<h2>What would be your first question after waking up from being cryogenically frozen for 100 years?</h2>
<p><%= members.question5 %></p>
<p><a href="/">Back to discover</a></p>